<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.zibity.fus</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>159A291E-3339-491E-8D3F-79091BE0319B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CD69778A-A49B-44D1-9F54-B24359DEF8B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zibity</string>
	<key>description</key>
	<string>Quickly switch from one user account to another.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fast User Switching</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>switch</string>
				<key>subtext</key>
				<string>Switch to the specified user account.</string>
				<key>text</key>
				<string>Switch to '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD69778A-A49B-44D1-9F54-B24359DEF8B8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
try		do shell script "/System/Library/CoreServices/Menu\\ Extras/User.menu/Contents/Resources/CGSession -switchToUserID " &amp; (do shell script "id -u " &amp; q)
on error
return "An error occured and switching to the account '" &amp; q &amp; "' failed."
endend alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Fast User Switching Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>159A291E-3339-491E-8D3F-79091BE0319B</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>159A291E-3339-491E-8D3F-79091BE0319B</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>AAE2193C-E6C1-4A1C-8A17-774AF8868DCF</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>CD69778A-A49B-44D1-9F54-B24359DEF8B8</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>www.zibity.com</string>
</dict>
</plist>
